body {
    background-color: #d1fffa;
    font-family: "Ubuntu";
    font-size: 21px;
    text-align: center;

}

.YouTube {
    padding: 10px;
}

.Twitter {
    padding: 10px;
}

.Instagram {
    padding: 10px;
}

.Github {
    padding: 10px;
}