body {
    background-color: #d1fffa;

}

h1 {
    text-align: center;
    font-family: Apple SD Gothic Neo;
}

h2 {
    text-align: center;
    font-family: Apple SD Gothic Neo;
}

.links {
    text-align: center;
}
