body {
    background-color: #d1fffa;
    font-family: "Ubuntu", serif;
    font-size: 21px;
    text-align: center;
}

.links {
    text-align: center;
}

.list {
    display: table;
    margin: 0 auto;
}

